@font-face {
	font-family: 'Karla';
	src: url(../font/Karla-Regular.ttf);
}

.head h2 {
	text-align: center;
	font-size: 40px;
	font-family: 'Karla';
}

.text p {
	text-align: right;
	font-family: 'Karla';
}

.text_two p {
	text-align: center;
	font-family: 'Karla';
}