h1 {
	color: white;
	background: black;
}

#Bio {
	color: white;
	background: black;
}

#Exhibitions {
	color: white;
	background: black;
}

#ArtMarket { 
	color: white;
	background: black;
	 }
#Links {
	color: white;
	background: black;
}