@import url(reset.css);

.header {
	height: 60px;
	background: #FE1A19;
	position: relative;
}

.name {
	color: white;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 23px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.footer {
	height: 60px;
	background: #FE1A19;
	position: relative;
	
}

.wrapping {
	color: white;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	position: absolute;
	left: 20px;
	top: 20px;
}

.recipe_one {
	display: inline-block;
	text-align: center;
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px

}

.recipe_two {
	display: inline-block;
	text-align: center;
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px

}

.recipe_three {
	display: inline-block;
	text-align: center;
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px

}

.tart {
	position: relative;
	top: 20px;
	left: 30px;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 23px;
	color: #000000;

}

.recipe_description {
	position: relative;
	left: 30px;
	top: 70px;
	text-align: left;
	font-family: Times New Roman;
	font-size: 20px;
	line-height: 25px;
}

.link a {
	color: white;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	position: absolute;
	right: 20px;
	top: 20px;
	
}